<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="|#{department_page.title} - ${title} |"></title>
<style>
h1 {
font-size: 24px; font-weight:bold; color:gray;}
body {
font-size: 17px; color: gray; margin: 5px 25px;}
pre {
font-size: 17px; color:gray; padding:5px 10px; border:1px solid gray;
}
tr {
margin: 5px;
}
th {
padding: 5px; color:white; background:darkgray;
}
td {
padding: 5px; color:black; background:#f0f0f0;
}
.err { color: red; }
</style>
</head>
<body>
	
	<hr/>
	<p>新規と編集をするページ</p>
	
	<p th:text="${msg}" ></p>
	
<!-- 新規では、formModelには、空のインスタンスで、各フィールドは、各データ型の規定値が入ってる -->
	
 <p th:text="${formModel.departmentId}"></p>
	<p th:text="${formModel.departmentName}"></p> 
	
	
	<form method="post" action="/dep_add_edit" th:object="${formModel}">
	
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class="err" th:text="${error.message}" />
		</ul>
	
		<!-- 新規では、departmentId と departmentName の 値は、String型の規定値のnull が初期値として、フィールドのvalue属性の値に入ってきてる -->
		<input type="hidden" name="departmentId" th:value="*{departmentId}" />
		<input type="hidden" name="action" th:value="${action}" />
		<tr><td><label for="departmentName">部署名</label></td>
			<td>
				<input type="text" id="departmentName" name="departmentName" th:value="*{departmentName}" />
			</td>
		</tr>
		
		<tr><td></td><td><input type="submit" /></td></tr>
	</form>


</body>
</html>