<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="${title}">Insert title here</title>
<style>
h1 {
font-size: 24px; font-weight:bold; color:gray;}
body {
font-size: 17px; color: gray; margin: 5px 25px;}
pre {
font-size: 17px; color:gray; padding:5px 10px; border:1px solid gray;
}
tr {
margin: 5px;
}
th {
padding: 5px; color:white; background:darkgray;
}
td {
padding: 5px; color:black; background:#f0f0f0;
}
.err { color: red; }
</style>
</head>
<body>

<p th:text="${msg}"></p>

<hr />

<p th:unless="${employeeList}" th:text="現在登録されている社員はいません" ></p>

<table>
	<tr><th>社員ID</th><th>名前</th><th></th><th></th></tr>
	<tr th:each="emp : ${employeeList}" th:object="${emp}">
		<td th:text="*{employeeId}"></td>
		<td th:text="*{name}"></td>
		<td>
			 <form method = "get" action = "/emp_add_edit" >
			 	<input type="hidden" name="employeeId" th:value="*{employeeId}" >
			 	<input type="hidden" name="action" th:value="edit" >
			 	<input type="submit" value="編集" >
			 </form>		
		</td>
		<td>
		
		</td>
	</tr>
</table>

<!-- aリンクは、HTTPメソッドではGET URLパスの末尾?以降がクエリーパラメータとしてコントローラの対応するリクエストハンドラに送られる -->
<a href="/emp_add_edit?action=add" ><button type="button">新規追加</button> </a>

</body>
</html>